<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="OesDAL.Properties.Settings.oesConnectionString" connectionString="Data Source=YT00579-100\SQLEXPRESS;Initial Catalog=oes;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>